body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-family: 'Audiowide', cursive;
    text-align: left;
    color: #898395;
    padding-left: .5rem;
}

.section-title {
    margin: 0;
    padding: 0;
    margin-left: .5rem;
    text-align: left;
    color: #898395;
    flex-basis: 95%;
}

.menu-heading {
    margin-left: 1rem;
}

i {
    color: #898395;
}

a {
    color: #898395;
    text-decoration: none;
}

a:hover {
    color: #6441a4;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #6441a4, rgba(0, 0, 0, 0));
}

.page-container {
    color: #17141f;
    background-color: #f5f5f6;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.cards-panel {
    position: relative;
}

.channel-panel {
    height: 100vh;
    width: 200px;
    position: fixed;
    left: -202px;
    background-color: #17141f;
    color: #898395;
    border-right: 2px solid #6441a4;
}

.menu-logo {
    text-align: center;
    padding: 0;
}

@media all and (min-width: 64.1rem) {
    .channel-panel {
        width: 200px;
        position: fixed;
        left: 0;
    }
    .cards-panel {
        position: relative;
        left: 202px;
        width: calc(100vw - 202px);
    }
}

#faves-list {
    margin-left: 0;
}

#faves-list li {
    list-style: none;
    padding: 0.5rem;
    padding-left: 0;
}

#faves-list li:before {
    content: "\f007";
    font-family: FontAwesome;
    color: #898395;
    display: inline-block;
    margin-left: -1.3rem;
    width: 1.3rem;
}

#faves-list li:hover {
    background-color: #201c2b;
    cursor: pointer;
}

#faves-list a {
    color: #898395;
}

#faves-list li.a-online::before {
    color: #27ae60;
    font-size: 1rem;
}

#faves-list li.b-offline::before {
    color: #f39c12;
    font-size: 1rem;
}

#faves-list li.c-not-found::before {
    color: #c0392b;
    font-size: 1rem;
}

.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box {
    background-color: #f5f5f6;
    text-align: center;
}

.search-cards-container, .user-cards-container, .featured-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    padding-bottom: 2rem;
}

@media all and (min-width: 75rem) {
    .search-cards-container, .user-cards-container, .featured-container {
        justify-content: flex-start;
    }
}

.search-cards-container {
    display: none;
}

.user-card {
    background-color: #fff;
    color: #898395;
    font-size: .8rem;
    margin-bottom: 1rem;
    max-width: 640px;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media all and (min-width: 40rem) {
    .user-card {
        margin: .5rem;
        max-width: 320px;
        min-width: 160px;
    }
}

.top-row {
    max-height: 360px;
    margin: 0;
    margin-bottom: -3px;
    padding: 0;
}

.info-row {
    background-color: #17141f;
    display: inline-flex;
    justify-content: center;
    padding: .5rem;
    font-size: 1rem;
}

.game {
    padding-left: 1rem;
}

.go-channel a {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.middle-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.status {
    flex: 2 0;
    padding: .25rem;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
}

.stream-info ul {
    padding-left: 0;
    list-style: none;
    border-left: 1px solid #898395;
}

.stream-info ul li {
    padding: .1rem .5rem;
}

.bottom-row {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: #17141f;
    padding: .5rem;
}

.player-control, .go-channel, .fave {
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.fa-heart:hover {
    color: #6441a4;
    cursor: pointer;
}

.fa-play {
    color: #27ae60;
    cursor: pointer;
}

.fa-stop {
    color: #c0392b;
    cursor: pointer;
}

iframe {
    margin: 0;
    padding: 0;
}

.display-name {
    text-align: center;
    vertical-align: middle;
}


/*@media all and (min-width: 40rem) {
    .user-card, .offline-card {
        flex: 1 1 40%;
    }
}

@media all and (min-width: 64rem) {
    .user-card, .offline-card {
        flex: 1 1 20%;
    }
}*/
