.page-container {
    color: #17141f;
    background-color: #fff;
    position: relative;
    left: 202px;
    width: calc(100vw - 200px);
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

i {
    color: #17141f;
}

a {
    color: #6441a4;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #6441a4, rgba(0, 0, 0, 0));
}

#faves-list {
    margin-left: 0;
}

#faves-list li {
    list-style: none;
    padding: 0.5rem;
    padding-left: 0;
}

#faves-list li:before {
    content: "\f007";
    font-family: FontAwesome;
    color: #898395;
    display: inline-block;
    margin-left: -1.3rem;
    width: 1.3rem;
}

#faves-list li:hover {
    background-color: #201c2b;
    cursor: pointer;
}

#faves-list a {
    color: #898395;
}

.channel-panel {
    height: 100vh;
    width: 200px;
    position: absolute;
    background-color: #17141f;
    color: #898395;
    font-family: 'Lato', sans-serif;
    border-right: 2px solid #6441a4;
}

.channel-panel i {
    color: #898395;
}

#faves-list li.a-online::before {
    color: #27ae60;
    font-size: 1rem;
}

#faves-list li.b-offline::before {
    color: #f39c12;
    font-size: 1rem;
}

#faves-list li.c-not-found::before {
    color: #c0392b;
    font-size: 1rem;
}

.menu-logo {
    font-family: 'Ranchers', cursive;
    font-size: 2rem;
    text-align: center;
}

.menu-heading {
    margin-left: 1.3rem;
}

.user-cards-container, .user-stream-container, .offline-container {
    display: flex;
    flex-flow: row wrap;
}

.user-card {
    border: 5px solid #6441a4;
    background-color: #efeef1;
    border-radius: 10px;
    flex: 1 1 100%;
    margin: 1rem;
    max-width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.offline-card {
    border: 5px solid #19171c;
    color: #19171c;
    border-radius: 10px;
    max-width: 22rem;
    margin: 1rem;
    background-color: #b8b5c0;
}

.offline-card i {
    color: #19171c;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.on-air-text {
    background-color: #27ae60;
    height: 100%;
    width: 100%;
}

.middle-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bottom-row {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.player-control, .go-channel, .fave {
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.status {
    flex-basis: 50%;
    text-align: center;
    vertical-align: middle;
}

.logo {
    flex-basis: 50%;
    text-align: center;
}

iframe {
    margin: 0;
    padding: 0;
}

.logo img {
    height: 150px
}

.display-name {
    text-align: center;
    vertical-align: middle;
}

.game {
    text-align: center;
    vertical-align: middle;
}

.video-control {
    cursor: pointer;
}

@media all and (min-width: 40rem) {
    .user-card, .offline-card {
        flex: 1 1 40%;
    }
}

@media all and (min-width: 64rem) {
    .user-card, .offline-card {
        flex: 1 1 20%;
    }
}
